<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="color: black;"></ion-menu-button>
        </ion-buttons>
        <ion-title>actionsheet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" role='destructive' class="md button button-block button-solid ion-activatable ion-focusable hydrated">Show Action Sheet</ion-button>
</ion-content>
<!-- <script>
    const button = document.querySelector('ion-button');
    button.addEventListener('click', handleButtonClick);

    async function handleButtonClick() {
        const actionSheet = await actionSheetController.create({
            header: 'Albums',
            buttons: [{
                text: 'Delete',
                role: 'destructive'
            }, {
                text: 'Share'
            }, {
                text: 'Play'
            }, {
                text: 'Favorite'
            }, {
                text: 'Cancel',
                role: 'cancel'
            }]
        });

        await actionSheet.present();
    }
</script> -->