.login-con {
    --background: url("../../assets/pngtree-mobile-app-app-advertising-background-image_162392.jpg") 0 0/100% 100% no-repeat;
}

.login-card {
    padding: 15px;
    margin-top: 5px;
    width: auto;
    margin: 28px;
    border-radius: 16px;
}

ion-button {
    --background: gray;
}

.hd {
    color: gray;
}