<ion-header>
    <ion-toolbar style="min-height: 30px; height: 30px;">

        <ion-title>

            <div>{{today | date}}</div>

        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card-subtitle style="padding: 50px; font-weight: bold; color: gray; font-size: larger;"> Welcome to Mobile App Development</ion-card-subtitle>
    <ion-content class="card-background-page">

        <ion-card>
            <img src="https://img.mobiscroll.com/demos/card_1.png" />
            <div class="card-title">São Paulo</div>
            <div class="card-subtitle">41 Listings</div>
        </ion-card>

        <ion-card>
            <img src="https://img.mobiscroll.com/demos/card_2.png" />
            <div class="card-title">Amsterdam</div>
            <div class="card-subtitle">64 Listings</div>
        </ion-card>

        <ion-card>
            <img src="https://img.mobiscroll.com/demos/card_3.png" />
            <div class="card-title">San Francisco</div>
            <div class="card-subtitle">72 Listings</div>
        </ion-card>

        <ion-card>
            <img src="https://img.mobiscroll.com/demos/card_4.png" />
            <div class="card-title">Madison</div>
            <div class="card-subtitle">28 Listings</div>
        </ion-card>

    </ion-content>
</ion-content>